@page "/map"

<h3>MapComponent</h3>
@_count

<img @ref="_myImage" src="/favicon.ico" hidden />

<div style="width: 700px; height: 700px; overflow-y: scroll;">
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
    <div @ref="_divCanvas" @onclick="OnClickAsync" @onmousemove="OnMouseMoveAsync"
            style="background-color: yellow">
        <BECanvas @ref="_myCanvas" Height="600" Width="600"></BECanvas>
    </div>
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
    test<br />
</div>
